<main class="background-playground-stage">
	<div class="foreground panel">{{message}}</div>
	<GradientStage 
		@color1={{color1}} 
		@color2={{color2}} 
		@opacity={{gradOpacity}}
		@gradDegree={{gradDegree}}
		>
	</GradientStage>
	<BackgroundImageStage 
		@bgImgIndex={{bgImgIndex}}
	></BackgroundImageStage>
</main>
<section class="edit-panel">
	<div class="edit-message edit-section">
		<h4>Message</h4>
		<input 
			type="text" 
			id="edit-message" 
			name="edit-message" 
			value={{message}}
			onkeyup={{action "updateMessage"}}
		>
	</div>
	<div class="edit-gradient-degree edit-section">
		<h4>Gradient Degree</h4>
		<input 
			type="range" 
			id="gradient-degree" 
			name="gradient-degree" 
			min="0" 
			max="360" 
			step="10"
			value={{gradDegree}}
			onkeyup={{action "updateGradDegree"}}
		>
		<input 
			type="number" 
			id="gradient-degree-number" 
			name="gradient-degree-number" 
			value={{gradDegree}}
			onkeyup={{action "updateGradDegree"}}
			step="10"
		>
	</div>
	<div class="edit-gradient-opacity edit-section">
		<h4>Gradient Opacity</h4>
		<input 
			type="range" 
			id="gradient-opacity" 
			name="gradient-opacity" 
			min="0" 
			max="1" 
			step=".1"
			value={{gradOpacity}}
			onkeyup={{action "updateGradOpacity"}}
		>
		<input 
			type="number" 
			id="gradient-opacity-number" 
			name="gradient-opacity-number" 
			value={{gradOpacity}}
			onkeyup={{action "updateGradOpacity"}}
			step=".1"
		>
	</div>
	<div class="edit-gradient-color1 edit-section">
		<h4>1st Gradient Color</h4>
		<input 
			type="text" 
			id="gradient-color1" 
			name="gradient-color1" 
			value={{color1}}
			onkeyup={{action "updateColor1"}}
		>
		<p class="info">* Use Color Name or Hex Value (including # symbol)</p>
	</div>
	<div class="edit-gradient-color2 edit-section">
		<h4>2nd Gradient Color</h4>
		<input 
			type="text" 
			id="gradient-color2" 
			name="gradient-color2" 
			value={{color2}}
			onkeyup={{action "updateColor2"}}
		>
		<p class="info">* Use Color Name or Hex Value (including # symbol)</p>
	</div>
	<div class="edit-bg-img edit-section">
		<h4>Background Image</h4>
		<button 
			id="bg-img" 
			name="bg-img" 
			value={{color1}}
			onclick={{action "updateBgImgIndex"}}
		>Refresh Image</button>
	</div>
</section>