<main class="background-playground-stage">
		<div class="foreground panel">{{message}}</div>
	<GradientStage 
		@color1={{color1}} 
		@color2={{color2}} 
		@opacity={{gradOpacity}}
		@gradDegree={{gradDegree}}
		@linearOrientation={{linearOrientation}}
		>
	</GradientStage>
	<BackgroundImageStage 
		@bgImgIndex={{bgImgIndex}}
	></BackgroundImageStage>
</main>
<section class="edit-panel">
	<div class="edit-message edit-section">
		<h4>Message</h4>
		<input 
			type="text" 
			id="edit-message" 
			name="edit-message" 
			value={{message}}
			onkeyup={{action "updateMessage"}}
		>
	</div>
	<div class="edit-orientation edit-section">
		<h4>Gradient Orientation</h4>
		<p>{{if linearOrientation "-- Linear --" "-- Radial --"}}</p>
		<button 
			id="edit-orientation" 
			name="edit-orientation" 
			onclick={{action "toggleGradientOrientation"}}
		>{{if linearOrientation "Turn Radial" "Turn Linear"}}</button>
	</div>
	<div class="edit-gradient-degree edit-section {{unless linearOrientation "disabled"}}">
		<h4>Gradient Degree</h4>
		<input 
			type="number" 
			id="gradient-degree-number" 
			name="gradient-degree-number" 
			value={{gradDegree}}
			onkeyup={{action "updateGradDegree"}}
			step="10"
			min="0"
			max="360"
		>
		<input 
			type="range" 
			id="gradient-degree" 
			name="gradient-degree" 
			min="0" 
			max="360" 
			step="10"
			value={{gradDegree}}
			onchange={{action "updateGradDegree"}}
		>
	</div>
	<div class="edit-gradient-opacity edit-section">
		<h4>Gradient Opacity</h4>
		<input 
			type="number" 
			id="gradient-opacity-number" 
			name="gradient-opacity-number" 
			value={{gradOpacity}}
			onkeyup={{action "updateGradOpacity"}}
			step=".1"
			max="1"
			min="0"
		>
		<input 
			type="range" 
			id="gradient-opacity" 
			name="gradient-opacity" 
			min="0" 
			max="1" 
			step=".1"
			value={{gradOpacity}}
			onchange={{action "updateGradOpacity"}}
		>
	</div>
	<div class="edit-gradient-color1 edit-section">
		<h4>1st Gradient Color</h4>
		<input 
			type="text" 
			id="gradient-color1" 
			name="gradient-color1" 
			value={{color1}}
			onkeyup={{action "updateColor1"}}
		>
		<p class="info">* Use Color Name or Hex Value (including # symbol)</p>
		<a class="info-link" href="http://www.colors.commutercreative.com/grid/" target="_blank" rel="noopener">List of CSS color names</a>
	</div>
	<div class="edit-gradient-color2 edit-section">
		<h4>2nd Gradient Color</h4>
		<input 
			type="text" 
			id="gradient-color2" 
			name="gradient-color2" 
			value={{color2}}
			onkeyup={{action "updateColor2"}}
		>
		<p class="info">* Use Color Name or Hex Value (including # symbol)</p>
		<a class="info-link" href="http://www.colors.commutercreative.com/grid/" target="_blank" rel="noopener">List of CSS color names</a>
	</div>
	<div class="edit-bg-img edit-section">
		<h4>Background Image</h4>
		<button 
			id="bg-img" 
			name="bg-img" 
			value={{color1}}
			onclick={{action "updateBgImgIndex"}}
		>Refresh Image</button>
		<p class="info">* With thanks to <a href="https://unsplash.com/" target="_blank" rel="noopener">Unsplash</a></p>
	</div>
</section>

<section class="color-gallery">
	{{#each-in colors as |color|}}
		<div>Hello, {{color}}!</div>
	{{/each-in}}
</div>