<main class="background-playground-stage">
	<div class="foreground panel">{{message}}</div>
	<GradientStage 
		@color1={{color1}} 
		@color2={{color2}} 
		@opacity={{gradOpacity}}
		@gradDegree={{gradDegree}}
		>
	</GradientStage>
	<div class="background-image-stage panel"></div>
</main>
<section class="edit-panel">
	<div class="edit-message edit-section">
		<h3>Message</h3>
		<input 
			type="text" 
			id="edit-message" 
			name="edit-message" 
			value={{message}}
			onkeyup={{action "updateMessage"}}
		>
	</div>
	<div class="edit-gradient-degree edit-section">
		<h3>Gradient Degree</h3>
		<input 
			type="range" 
			id="gradient-degree" 
			name="gradient-degree" 
			min="0" 
			max="360" 
			step="10"
			value={{gradDegree}}
			onkeyup={{action "updateGradDegree"}}
		>
		<input 
			type="number" 
			id="gradient-degree-number" 
			name="gradient-degree-number" 
			value={{gradDegree}}
			onkeyup={{action "updateGradDegree"}}
		>
	</div>
	<div class="edit-gradient-degree edit-section">
		<h3>Gradient Opacity</h3>
		<input 
			type="range" 
			id="gradient-opacity" 
			name="gradient-opacity" 
			min="0" 
			max="1" 
			step=".1"
			value={{gradOpacity}}
			onkeyup={{action "updateGradOpacity"}}
		>
		<input 
			type="number" 
			id="gradient-opacity-number" 
			name="gradient-opacity-number" 
			value={{gradOpacity}}
			onkeyup={{action "updateGradOpacity"}}
		>
	</div>
	<div class="edit-gradient-color1 edit-section">
		<h3>1st Gradient Color</h3>
		<input 
			type="text" 
			id="gradient-color1" 
			name="gradient-color1" 
			value={{color1}}
			onkeyup={{action "updateColor1"}}
		>
	</div>
	<div class="edit-gradient-color1 edit-section">
		<h3>2nd Gradient Color</h3>
		<input 
			type="text" 
			id="gradient-color2" 
			name="gradient-color2" 
			value={{color2}}
			onkeyup={{action "updateColor2"}}
		>
	</div>
</section>